
%grid {
    display: grid;
}

%font-primary {
    font-family: Roboto;;
}
%font-secondary {
    font-family: Shrikhand;
}

@mixin media-query {
    @media screen and (min-width: 1023px) {
      @content;
    }
  }
  
  %media-query {
    @include media-query {
    }
  }
  