.body__home {
  height: 2441px;
}
a {
  text-decoration: none;
  color: black;
}
.nav__home {
  height: 19%;
  background-color: orange;
  grid-template-rows: 63px 50px 76%;
  @extend %grid;

  &__title {
    @extend %grid;
    justify-self: center;
    align-self: center;
    @extend %font-secondary;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    background-color: $color-background-secondary;
  }
  &__subtile {
    grid-template-columns: minmax(23%,37%) 30px 33% minmax(100px,151px);
    @extend %grid;
    justify-self: center;
    width: 100%;
    align-items: center;
    @extend %font-primary;

    & i {
      grid-column: 2/2;
      justify-self: center;
    }
    & h2 {
      grid-column: 3/3;
      font-size: 16px;
      font-weight: 500;
      justify-self: flex-start
    }
  }
}
.nav__home__main {
  @extend %grid;
  grid-template-rows: 14% 24% 16% 9% 50px 20%;
  text-align: center;
  justify-items: center;
  background-color: purple;
  @extend %font-primary;

  &__title {
    @extend %grid;
    grid-row: 2/2;
    width: 70%;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    @extend %font-primary;
  }
  &__subtile {
    grid-row: 3/3;
    width: 85%;
    font-size: 18px;
    font-weight: 300;
    @extend %font-primary;
  }
  &__btn {
    grid-row: 5/5;
  }
}

.header__home {
  height: 18%;
  width: 100%;
  background-color: yellow;
}

.header__home__liste {
  grid-template-rows: repeat(4, 22%) 14%;
  height: 100%;
  justify-items: center;
  @extend %grid;

  &__title {
    align-self: center;
    justify-self: flex-start;
    padding-left: 5%;
    background-color: aqua;
    @extend %font-primary;
    font-size: 24px;
    font-weight: 700;
  }
}

.btn--gris {
  @extend %grid;
  grid-template-columns: 1px 22% 77%;
  align-items: center;
  height: 73px;
  width: 85%;
  border-radius: 20px;
  color: black;
  background-color: $color-background-secondary;
  & h4 {
    @extend %grid;
    justify-content: flex-start;
    @extend %font-primary;
    font-size: 16px;
    font-weight: 500;
    @extend %font-primary;
  }
}
.fa-circle {
  position: relative;
  left: -12px;
  color: $colour-primary;
  font-size: 24px;
}
.one::after {
  content: "1";
}
.two::after {
  content: "2";
}
.three::after {
  content: "3";
}
.fa-circle::after {
  position: relative;
  left: -15px;
  top: -3px;
  color: $color-background;
  font-size: 14px;
}
.fa-store {
  color: $colour-primary;
}
.main__home {
  height: 51%;
  background-color: aqua;
  @extend %grid;
}
.main__home__restaurant {
  grid-template-rows: 100px repeat(4, 21%) 5%;
  grid-template-columns: 90%;
  justify-content: center;
  row-gap: 1%;
  background-color: orange;
  height: 56%;
  @extend %grid;
}

.main__home__restaurant__h2 {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 700;
  @extend %font-primary;
}

.main__home__restaurant__card {
  @extend %grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 100%;
  background-color: red;
  height: 100%;
  border-radius: 15px;
}
.palette--grid {
  grid-row: 2/2;
}
.note--grid {
  grid-row: 3/3;
}
.france--grid {
  grid-row: 4/4;
}
.delice--grid {
  grid-row: 5/5;
}
.new {
  position: relative;
  grid-row: 1/1;
  grid-column: 1/1;
  z-index: 1;
  @extend %grid;
  justify-content: center;
  justify-self: flex-end;
  align-content: center;
  top: 8%;
  right: 4%;
  height: 29px;
  width: 80px;
  font-size: 14px;
  border-radius: 2px;
  color: #008766;
  background-color: $colour-tertiary;
}
.main__home__restaurant__card img {
  grid-row: 1/1;
  grid-column: 1/1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.main__home__restaurant__card__footer {
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  grid-row: 2/2;
  display: grid;
}
.main__home__restaurant__card__footer a {
  grid-column: 1/1;
  grid-row: 1/1;
  align-items: flex-end;
  @extend %grid;
  padding-left: 3%;
  font-size: 18px;
  font-weight: 700;
  @extend %font-primary;
}
.main__home__restaurant__card__footer p {
  grid-column: 1/1;
  grid-row: 2/2;
  @extend %grid;
  align-self: center;
  padding-left: 3%;
  font-size: 17px;
  font-weight: 300;
  @extend %font-primary;

}
.main__home__restaurant__card__footer__heart--grid {
  grid-column: 2/2;
  grid-row: 1/3;
  @extend %grid;
  align-self: center;
  justify-self: center;
}

footer {
  height: 10%;
  width: 100%;
  color: #f6f6f6;
}
ul {
  list-style-type: none;
}

