
// .test  {
//     display:grid;
//     grid-template-columns: 5% 90% 5%;
//     grid-template-rows:  20% 10% 20% 10%;
// }

// nav {
//     display: grid;
//     grid-column-start: 2;
//     grid-column-end: 4;
// }

// .grid > .grid2 {
//     background-color: aqua;
//     border: solid 2px  rgb(18, 18, 225);
//     height: 100%;
//     display: grid;
//     justify-items: center;
//     align-items: center;
// }
.grid {
    display: grid;
    background-color: aqua;
    border: solid 2px blue;
    height: 20%;
    width: 100%;
    grid-template-columns: 90% 59px;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 12px;
}

.grid__h{
    margin: 0;
    background-color: bisque;
    grid-row: span 1;

    height: 100%;
}

.grid__article {
    background-color: aliceblue;
    grid-row: span 1;
    grid-column: span 2;
    height: 100%;
    border: solid 2px black;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 80% 20%;
    
}
.gridHover:hover {
    grid-template-columns: 55% 30% 15%;
}
.grid__article:hover .grid4{
    // transition: visibility 0.5s;
   visibility: visible;
} 



.grid1 {
    grid-column: 1/3;
    grid-row: 1/1;
    background-color: antiquewhite;
}
.grid2 {
    grid-column: 1/1;
    grid-row: 2/2;
    background-color: yellow;
}
.grid3 {
    grid-column: 2/2;
    grid-row: 2/2;
    background-color: red;
    // &:hover + .grid4{
    //     visibility: visible;
    // }
}
.grid4 {
    // transition: visibility 0.5s ease;
    visibility: hidden;
    display: grid;
    grid-column: 3/3;
    grid-row: 1/3;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: purple;
}



.grid__article2 {
    background-color: aliceblue;
    grid-row: span 1;
    grid-column: span 2;
    height: 100%;
    border: solid 2px black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    grid-template-rows: 1fr 1fr;
    
}



.gridTest1 {
    grid-column: 1/5;
    grid-row: 1/1;
    background-color: antiquewhite;
}
.gridTest2 {
    grid-column: 1/4;
    grid-row: 2/2;
    background-color: yellow;
}
.gridTest3 {
    grid-column: 3/5;
    grid-row: 2/2;
    justify-self: flex-end;
    background-color: red;
    font-size: 14px;
    width: 10%;
    transition-property: width;
    transition-duration: 3s;
    // &:hover + .grid4{
    //     visibility: visible;
    // }
}
.gridAnim2 {
    // transition: visibility 0.5s ease;
    visibility: hidden;
    border-radius: 0 20px  20px 0;
    margin: 0;
    display: grid;
    grid-column: 4/5;
    grid-row: 1/3;
    height: 100%;
    width: 10%;
    transition: width 3s;
    justify-self: flex-end;
    align-content: center;
    background-color: purple;   
}

.grid__article2:hover{

    & .gridAnim2{
        width: 100%;
    visibility: visible;
    } 
     & .gridTest3 {
    //     transition: width 1s;
      width: 100%;
    }
} 


.articleTest  {
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    grid-template-rows: 1fr 1fr;
}

.testGrid1 {
    background-color: yellow;
    grid-column: 1/3;
    grid-row: 1;
}
.testGrid2{
    background-color: yellowgreen;
    grid-column: 1/3;
    grid-row: 2/2;
}
.testGrid3{
    background: salmon;
    grid-column: 3/5;
    grid-row: 1/3;
    justify-self: flex-end;
    width:10%;
   transition: width 1.5s;
}
.testGrid4{
    background-color: midnightblue;
    grid-column: 4/5;
    grid-row: 1/3;
    justify-self: flex-end;
    width:0%;
    height: 100%;
   transition: width 1.5s;
    overflow: hidden;
    margin: 0;
    display: grid;
}
.rotate {
    align-self: center;
   width:0%;
   height: 20%;
   grid-column: 2/5;
   grid-row: 1/3;
   background-color: aquamarine;
   transition: transform 1s, width 1s ease 0.1s;
   overflow: hidden;
   justify-self: flex-start;
   transform-origin: 20% 50%;
}

.articleTest:hover  .testGrid4 {
    background-color: red;
    width: 100%;
}
.articleTest:hover  .rotate {
    animation: rotate 1s linear forwards;
    width: 50%;
}
.articleTest:hover  .testGrid3 {
    width: 100%;
}

.articleTest:hover  .testGrid3 {
    width: 100%;
}


.loader {
    width: 100px;
    height: 100px;
    z-index: 2;
    background: linear-gradient(
      165deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(220, 220, 220) 40%,
      rgb(170, 170, 170) 98%,
      rgb(10, 10, 10) 100%
    );
    border-radius: 100%;
    position: relative;
    animation: fadeOut 5s linear forwards;
  }

  .loader:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
      0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
      0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
      0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 0s rotate linear forwards;
  }

  @keyframes rotate {
   

    100% {  transform: rotate(360deg);
            }
  }

  @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
  }
  
  .animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    animation-name: fadeInOut;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    pointer-events: none;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    // 90%{
    //     opacity: 0;
    //     width: 100%;
    //     height: 100%;
    // }
    100% {
      opacity: 0;
    //   width: 0%;
    //   height: 0%;
    }
  }
  //display none

// .heart1::before {
//     position: absolute;
//     z-index: 1;
// }

.heart1::before {
    position: absolute;
    z-index: 1;
}

.heart2 {
    position: relative;
    z-index: 0;
    background: linear-gradient(to left, rgb(255, 255, 255)50%, rgba(255, 255, 255, 0.5)0%),
    linear-gradient(45deg, rgba(236,93,197,1) 0%, rgba(147,86,220,1) 100%);    background-size: 200% 100%;
    background-position: right center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-position 0.5s ease-out;
}
.heart1:hover .heart2 {
    background-position: center left;
}

footer {
    background: linear-gradient(to left, rgb(255, 255, 255)50%, rgba(255, 255, 255, 0.5)0%),
    linear-gradient(45deg, rgba(236,93,197,1) 0%, rgba(147,86,220,1) 100%);
    background-size: 200% 100%;
    background-position: left center;

}
// .heart1 {
// //     position: relative;
// //    color: white;
// // //    transform: scaleX(0);
// //    transition: color 5s linear;
// // //    transition: color 3s linear;
// //    transform-origin: 0% 50%;

// // font-size: 2em; /* ajustez la taille selon vos besoins */
// background: linear-gradient(to right, red 50%, yellow 50%);
// background-size: 200% 100%;
// background-position: left center;
// transition: background-position 0.5s ease-out;
// background-clip: content-box;
// font-weight: bold;
// -webkit-background-clip: text;
// color: transparent;
   
// }
// .heart1:hover {
//     background-position: center right;
//   }

// .heart1:hover  .heart2{
//     color: red;
//     // transform: scaleX(1);
// }

//   .loader2{
//     display: block;
//     position: relative;
//     height: 12px;
//     width: 6%;
//     margin-top: 1%;   
//     border: 1px solid #a29e9e;
//     border-radius: 10px;
//     overflow: hidden;
//   }
//   .loader2:after{
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 0;
//     background: #ebe3e0;
//     animation: 6s prog ease-in infinite;
//   }
  
//   @keyframes prog {
//     to  {   width: 100%;}
//   }
  

/* First, style the loading element with desired setup */
// .loading {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: #fff;
//     z-index: 9999;
//   }
  
//   /* Then, define the keyframes of the animation */
//   @keyframes fadeout {
//     0% {
//       opacity: 1;
//     }
//     100% {
//       opacity: 0;
//       visibility: hidden;
//     }
//   }
  
//   /* Finally, apply the animation to the loading element */
//   .loading {
//     animation: fadeout 5s linear forwards;
//   }
  

//   .loader {
//     border-radius: 50%;
//     width: 3em;
//     height: 3em;
//     margin: 0 auto;
//     font-size: 10px;
//     position: relative;
//     animation: loadingSpinner 0.5s infinite linear;
//   }
  
//   .loader:before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 50%;
//     width: 0.5em;
//     height: 1.5em;
//     border-radius: 20%;
//     background-color: #ddd;
//     transform: translateX(-50%) rotate(0deg);
//     animation: loadingBar 1s infinite ease-in-out;

//   }




// .grid__article p {
//     grid-row: 2/2;
// }
// .price {
// grid-row: 2/span 1;
// grid-column: 2/2;
// align-self: center;
// justify-self: end;
// width: 12%;
// transition:  transform  5000ms;
// }
// .price:hover {
//     background-color: green;
//     transform:scale(1.5) rotate(30deg);
// }

// .grid {
//     background-color: yellow;
//     display: grid;
//     grid-template-columns: minmax(100px, auto) 60% [body]19% ;
//     grid-template-rows: repeat(3, 1fr);
//     margin: 0;
//     padding: 0;
//     grid-gap:10px;
    // grid-template-areas: 
    // "header header header"
    // "footer article article"
    // "footer footer2 footer3";
// }

// .child {
//     grid-column-start: 1;
//     order: -1;
    // height: 100%;
    // grid-column: 1/span 2;
    // grid-row: 1/3;
    // z-index: 0;
    // grid-area: article;
// }
// .childH2{
    // z-index: 1;
    // grid-column: 2/4;
    // grid-row: 1 / 3;
    // height: 100%;
    // grid-area: header;
//     grid-column-start: body;
// }

// .child3 {
    // grid-area: footer;
// }
// .child2 {
    // grid-area: footer2;
    // align-self: self-end;
    // justify-self: self-end;
// }