@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.footer__liste, .footer__title, footer, .order, .menu__card__icon, .menu__card, .menu__title, .menu, .main__header__title, .main__header, .nav__header, .main__home__restaurant__card__footer__heart--grid, .main__home__restaurant__card__footer p, .main__home__restaurant__card__footer a, .new, .main__home__restaurant__card, .main__home__restaurant, .main__home, .btn--gris h4, .btn--gris, .header__home__liste, .nav__home__main__title, .nav__home__main, .nav__home__subtile, .nav__home__title, .nav__home, .loaderBackground {
  display: grid;
}

.footer__liste, .menu__card, .main__home__restaurant__card__footer p, .main__home__restaurant__card__footer a, .main__home__restaurant__h2, .btn--gris h4, .header__home__liste__title, .nav__home__main__subtile, .nav__home__main__title, .nav__home__main, .nav__home__subtile {
  font-family: Roboto;
}

.footer__title, .main__header__title, .nav__header, .nav__home__title {
  font-family: Shrikhand;
}

.btn--pink__effect {
  background: linear-gradient(45deg, rgb(236, 93, 197) 0%, rgb(147, 86, 220) 100%);
  color: white;
  border-radius: 25px;
  border: unset;
  height: 50px;
  width: 218px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.btn--pink__effect:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  filter: brightness(1.1);
}

.noScroll {
  animation: temporaryNoScrolling 3s linear forwards;
}

@keyframes temporaryNoScrolling {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}
.loaderBackground {
  grid-template-rows: 35% 10% 10% 10% 35%;
  grid-template-columns: 10% 80% 10%;
  position: fixed;
  justify-items: center;
  align-items: center;
  z-index: 2;
  animation-name: fadeInOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  pointer-events: none;
  overflow-y: hidden;
  gap: 0;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #99E2D0;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.loader {
  display: inline-block;
  position: relative;
  animation: fadeOut 3s linear forwards;
  grid-row: 2/2;
  grid-column: 2/2;
  z-index: 2;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f6f9fb;
  box-sizing: border-box;
  text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
  letter-spacing: 2px;
}

.loader::after {
  animation: animloader 3s linear infinite;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  content: "Ohmyfood";
  left: 0;
  top: 0;
  color: #FF79DA;
  width: 20%;
  height: 100%;
}

@keyframes animloader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.ustansils--loader {
  animation-name: fadeOut;
  animation-duration: 3s;
  grid-row: 3/3;
  grid-column: 2/2;
  z-index: 2;
  color: #FF79DA;
  font-size: 40px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.lds-ellipsis {
  z-index: 2;
  display: inline-block;
  position: relative;
  grid-row: 4/4;
  grid-column: 2/2;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #9356DC;
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.appear__gradually {
  opacity: 0;
  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.nav__header {
  animation-delay: 0.5s;
}

.header__img {
  animation-delay: 1s;
}

.main__header {
  animation-delay: 1s;
}

.menu:nth-child(2) {
  animation-delay: 1.5s;
}

.menu:nth-child(3) {
  animation-delay: 2s;
}

.menu:nth-child(4) {
  animation-delay: 2.5s;
}

.order {
  animation-delay: 3s;
}

.footer__animation {
  animation-delay: 3.5s;
}

.fa-heart {
  font-size: 22px;
}

.heart1::before {
  position: absolute;
  z-index: 1;
}

.heart2 {
  position: relative;
  z-index: 0;
  background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 0%), linear-gradient(45deg, rgb(236, 93, 197) 0%, rgb(147, 86, 220) 100%);
  background-size: 200% 100%;
  background-position: right center;
  color: transparent;
  background-clip: text;
  transition: background-position 0.5s ease-out;
  -webkit-background-clip: text;
}

.heart1:hover .heart2 {
  background-position: center left;
}

.btn--pink__effect {
  background: linear-gradient(45deg, rgb(236, 93, 197) 0%, rgb(147, 86, 220) 100%);
  color: white;
  border-radius: 25px;
  border: unset;
  height: 50px;
  width: 218px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.btn--pink__effect:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  filter: brightness(1.1);
}

.body__home {
  height: 2441px;
}

a {
  text-decoration: none;
  color: black;
}

.nav__home {
  height: 19%;
  background-color: orange;
  grid-template-rows: 63px 50px 76%;
}
.nav__home__title {
  justify-self: center;
  align-self: center;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  width: 100%;
  background-color: #EAEAEA;
}
.nav__home__subtile {
  grid-template-columns: minmax(23%, 37%) 30px 33% minmax(100px, 151px);
  justify-self: center;
  width: 100%;
  align-items: center;
}
.nav__home__subtile i {
  grid-column: 2/2;
  justify-self: center;
}
.nav__home__subtile h2 {
  grid-column: 3/3;
  font-size: 16px;
  font-weight: 500;
  justify-self: flex-start;
}

.nav__home__main {
  grid-template-rows: 14% 24% 16% 9% 50px 20%;
  text-align: center;
  justify-items: center;
  background-color: purple;
}
.nav__home__main__title {
  grid-row: 2/2;
  width: 70%;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
.nav__home__main__subtile {
  grid-row: 3/3;
  width: 85%;
  font-size: 18px;
  font-weight: 300;
}
.nav__home__main__btn {
  grid-row: 5/5;
}

.header__home {
  height: 18%;
  width: 100%;
  background-color: yellow;
}

.header__home__liste {
  grid-template-rows: repeat(4, 22%) 14%;
  height: 100%;
  justify-items: center;
}
.header__home__liste__title {
  align-self: center;
  justify-self: flex-start;
  padding-left: 5%;
  background-color: aqua;
  font-size: 24px;
  font-weight: 700;
}

.btn--gris {
  grid-template-columns: 1px 22% 77%;
  align-items: center;
  height: 73px;
  width: 85%;
  border-radius: 20px;
  color: black;
  background-color: #EAEAEA;
}
.btn--gris h4 {
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 500;
}

.fa-circle {
  position: relative;
  left: -12px;
  color: #9356DC;
  font-size: 24px;
}

.one::after {
  content: "1";
}

.two::after {
  content: "2";
}

.three::after {
  content: "3";
}

.fa-circle::after {
  position: relative;
  left: -15px;
  top: -3px;
  color: #F7F7F7;
  font-size: 14px;
}

.fa-store {
  color: #9356DC;
}

.main__home {
  height: 51%;
  background-color: aqua;
}

.main__home__restaurant {
  grid-template-rows: 100px repeat(4, 21%) 5%;
  grid-template-columns: 90%;
  justify-content: center;
  row-gap: 1%;
  background-color: orange;
  height: 56%;
}

.main__home__restaurant__h2 {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 700;
}

.main__home__restaurant__card {
  grid-template-rows: 70% 30%;
  grid-template-columns: 100%;
  background-color: red;
  height: 100%;
  border-radius: 15px;
}

.palette--grid {
  grid-row: 2/2;
}

.note--grid {
  grid-row: 3/3;
}

.france--grid {
  grid-row: 4/4;
}

.delice--grid {
  grid-row: 5/5;
}

.new {
  position: relative;
  grid-row: 1/1;
  grid-column: 1/1;
  z-index: 1;
  justify-content: center;
  justify-self: flex-end;
  align-content: center;
  top: 8%;
  right: 4%;
  height: 29px;
  width: 80px;
  font-size: 14px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
}

.main__home__restaurant__card img {
  grid-row: 1/1;
  grid-column: 1/1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.main__home__restaurant__card__footer {
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  grid-row: 2/2;
  display: grid;
}

.main__home__restaurant__card__footer a {
  grid-column: 1/1;
  grid-row: 1/1;
  align-items: flex-end;
  padding-left: 3%;
  font-size: 18px;
  font-weight: 700;
}

.main__home__restaurant__card__footer p {
  grid-column: 1/1;
  grid-row: 2/2;
  align-self: center;
  padding-left: 3%;
  font-size: 17px;
  font-weight: 300;
}

.main__home__restaurant__card__footer__heart--grid {
  grid-column: 2/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}

footer {
  height: 10%;
  width: 100%;
  color: #f6f6f6;
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.body__menuPage {
  height: 1590px;
}

.nav__header {
  height: 63px;
  grid-template-columns: 10% 80% 10%;
}

.nav__link {
  background-color: aqua;
  justify-self: center;
  align-self: center;
}

.fa-arrow-left {
  justify-self: center;
}

.header__img {
  background-color: red;
  width: 100%;
  height: 17%;
}

.header__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main__header {
  grid-template-rows: 1fr;
  grid-template-columns: 75% 25%;
  position: relative;
  height: 7%;
  top: -20px;
  border-radius: 20px 20px 0 0;
  background-color: #07664e;
}

.main__header__title {
  justify-content: center;
  align-items: center;
  grid-row: 1/1;
  grid-column: 1/1;
  font-size: 28px;
  font-weight: 400;
}

.laPaletteDuGout__heart--grid {
  display: grid !important;
  grid-row: 1/1;
  grid-column: 2/2;
  justify-self: center;
  align-self: center;
}

.menu {
  justify-items: center;
  grid-template-columns: 90% 10%;
  grid-template-rows: 50px repeat(3, 69px) 30px;
  row-gap: 10px;
  border-radius: 20px 20px 0 0;
  background-color: aqua;
  border: solid 2px blue;
  align-items: flex-start;
}
.menu__title {
  align-items: flex-end;
  grid-row: 1/1;
  height: 100%;
  width: 95%;
  background-color: bisque;
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}
.menu__card {
  grid-template-columns: 2fr 1fr 40px 59px;
  grid-template-rows: 1fr 1fr;
  grid-row: span 1;
  grid-column: span 2;
  box-sizing: border-box;
  height: 100%;
  width: 95%;
  border: solid 2px black;
  border-radius: 20px;
  background-color: aliceblue;
}
.menu__card--orderTop {
  grid-row: 2/2;
}
.menu__card--orderMiddle {
  grid-row: 3/3;
}
.menu__card--orderBottom {
  grid-row: 4/4;
}

.menu__card__title {
  grid-column: 1/4;
  grid-row: 1;
  transition: width 1s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  background-color: yellow;
  font-weight: 500;
  padding-left: 4%;
  align-self: center;
  width: 100%;
}
.menu__card__subtile {
  grid-column: 1/4;
  grid-row: 2/2;
  transition: width 1s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
  padding-left: 4%;
  background-color: yellowgreen;
  width: 100%;
}
.menu__card__price {
  grid-column: 3/5;
  grid-row: 2/2;
  justify-self: flex-end;
  width: 30%;
  transition: width 1s;
  font-size: 15px;
  font-weight: 700;
  background: salmon;
}
.menu__card__icon {
  grid-column: 4/5;
  grid-row: 1/3;
  transition: width 1s ease;
  overflow: hidden;
  justify-self: flex-end;
  width: 0%;
  height: 100%;
  margin: 0;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}
.menu__card:hover .menu__card__icon {
  background-color: #99E2D0;
  width: 100%;
}
.menu__card:hover .menu__card__icon .fa-bell {
  width: 100%;
}
.menu__card:hover .menu__card__title {
  width: 83%;
}
.menu__card:hover .menu__card__subtile {
  width: 83%;
}
.menu__card:hover .menu__card__price {
  width: 100%;
}

.fa-bell {
  display: grid !important;
  align-items: center;
  justify-items: center;
  justify-self: flex-end;
  width: 0%;
  height: 100%;
  font-size: 20px;
  transition: width 1s ease;
  color: #ffffff;
}

.order {
  justify-content: center;
  align-content: center;
  height: 7%;
}

footer {
  grid-template-columns: 20px 70%;
  grid-template-rows: 50px 106px 30px;
  height: 187px;
  background-color: black;
  color: white;
}

.footer__title {
  align-self: center;
  grid-column: 2/2;
  grid-row: 1/1;
  font-size: 18px;
  font-weight: 400;
}

.footer__liste {
  grid-column: 2/2;
  grid-row: 2/2;
  row-gap: 1%;
}

@media screen and (min-width: 1023px) {
  .body__menuPage {
    height: 1705px;
  }
  .nav__header {
    height: 96.34px;
    grid-template-columns: 6% 88% 6%;
  }
  .header__img {
    height: 383px;
  }
  .header__img img {
    height: 383px;
  }
  .main {
    height: 1076px;
    background-color: purple;
    display: grid;
  }
  .main__contenair {
    display: grid;
    justify-self: center;
    width: 73%;
    grid-template-rows: 80px repeat(3, 1fr);
  }
  .main__header {
    top: -28px;
    height: 110px;
    grid-template-columns: 28% 40% 23%;
    align-content: flex-end;
  }
  .main__header__title {
    grid-column: 2/2;
  }
  .laPaletteDuGout__heart--grid {
    grid-column: 3/3;
    justify-self: flex-start;
  }
  .menu {
    grid-template-rows: 30px repeat(3, 69px) 52px;
  }
  .menu__title {
    width: 55%;
  }
  .menu__card {
    width: 60%;
  }
  .order {
    height: 102px;
    background-color: beige;
  }
  .order__container {
    width: 73vw;
    height: 102px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
    background-color: aqua;
  }
  footer {
    height: 114px;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 64px 50px;
  }
  .footer__title {
    grid-column: 3/3;
    grid-row: 2/2;
    align-self: flex-start;
    justify-self: center;
    font-size: 1.25vw;
  }
  .footer__liste {
    font-size: 1.111vw;
    grid-column: 2/2;
    grid-template-columns: 34% 31% 24% 11%;
  }
  ul li:nth-child(1) {
    grid-column: 1/1;
  }
  ul li:nth-child(2) {
    grid-column: 2/2;
  }
  ul li:nth-child(3) {
    grid-column: 3/3;
  }
  ul li:nth-child(4) {
    grid-column: 4/4;
  }
  .body__home {
    height: 1395px;
  }
  .nav__home {
    height: auto;
  }
  .nav__home__subtile {
    grid-template-columns: 35px 109px;
    justify-content: center;
    align-content: center;
  }
  .nav__home__subtile i {
    grid-column: 1/1;
  }
  .nav__home__subtile h2 {
    grid-column: 2/2;
  }
  .nav__home__main {
    height: 239px;
  }
  .nav__home__main__title {
    font-size: 40px;
    font-weight: 700;
  }
  .header__home {
    height: 228px;
  }
  .header__home__liste {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 22%);
    justify-content: center;
    column-gap: 2%;
  }
  .btn--gris {
    grid-row: 2/2;
    width: 100%;
  }
  .main__home__restaurant {
    grid-template-rows: 15px repeat(2, 251px) 5%;
    grid-template-columns: 34% 34%;
    column-gap: 6%;
    row-gap: 50px;
    height: 651px;
  }
  .main__home__restaurant__h2 {
    position: relative;
    top: 34px;
  }
  .new {
    width: 16%;
  }
  .france--grid {
    grid-row: 2/2;
    grid-column: 2/2;
  }
  .delice--grid {
    grid-row: 3/3;
    grid-column: 2/2;
  }
}

/*# sourceMappingURL=style.css.map */
