.fa-heart{
    font-size: 22px;
  }
  .heart1::before {
      position: absolute;
      z-index: 1;
  }
  .heart2 {
      position: relative;
      z-index: 0;
      background: linear-gradient(to left, rgb(255, 255, 255)50%, rgba(255, 255, 255, 0.5)0%),
      linear-gradient(45deg, rgba(236,93,197,1) 0%, rgba(147,86,220,1) 100%);  
      background-size: 200% 100%;
      background-position: right center;
      color: transparent;
      background-clip: text;
      transition: background-position 0.5s ease-out;
      -webkit-background-clip: text;
  }
  .heart1:hover .heart2 {
      background-position: center left;
  }