.noScroll {
    animation: temporaryNoScrolling 0s linear forwards;
  }
  @keyframes temporaryNoScrolling {
    0% {
        overflow-y: hidden;
    }
    
    100% {
        overflow-y:auto;
    }
  }

  .loaderBackground {
  @extend %grid;
  grid-template-rows: 35% 10% 10% 10% 35%;
  grid-template-columns: 10% 80% 10%;
  position: fixed;
  justify-items: center;
  align-items: center;
  z-index: 2;
  animation-name: fadeInOut;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  pointer-events: none;
  overflow-y: hidden;
  gap: 0;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $colour-tertiary;
}
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      z-index: 3;
    }
  
    100% {
      opacity: 0;
      z-index: 0;
    }
  }

.loader {
    display: inline-block;
    position: relative;
    animation: fadeOut 0s linear forwards;
    grid-row: 2/2;
    grid-column: 2/2;
    z-index: 2;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f6f9fb;
    box-sizing: border-box;
    text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
    letter-spacing: 2px;
  }
  .loader::after {
    animation: animloader 0s linear infinite;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    content: 'Ohmyfood';
    left: 0;
    top: 0;
    color: $colour-secondary ;
    width: 20%;
    height: 100%;
  }
  @keyframes animloader {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

.ustansils--loader{
  animation-name:fadeOut;
  animation-duration: 0s;
    grid-row: 3/3;
    grid-column: 2/2;
    z-index: 2;
    color: $colour-secondary ;
    font-size: 40px;
  }
  @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
  }
  
  .lds-ellipsis {
    z-index: 2;
    display: inline-block;
    position: relative;
    grid-row: 4/4;
    grid-column: 2/2;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $colour-primary;
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  // .appear__gradually {
  //   opacity: 0;
  //   animation-name: appear;
  //   animation-duration: 1.5s;
  //   animation-fill-mode: forwards;
  //   animation-timing-function: linear;
  // }
  // @keyframes appear {
  //    0% {
  //     opacity: 0;
  //   }
  //   20%{
  //     opacity: 0.2;
  //   }
  //   50%{
  //     opacity: 0.5;
  //   }
  //   80%{
  //     opacity: 0.8;
  //   }
  //   90%{
  //     opacity: 0.9;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
    
  // }
  // .nav__header{
  //   animation-delay: 0.5s;
  // }
  // .header__img{
  //   animation-delay: 1s;
  // }
  // .main__header{
  //   animation-delay: 1s;
  // }
  // .menu:nth-child(2){
  //   animation-delay: 1.5s;
  // }
  // .menu:nth-child(3){
  //   animation-delay: 2s;
  // }
  // .menu:nth-child(4){
  //   animation-delay: 2.5s;
  // }
  // .order{
  //   animation-delay: 3s;
  // }
  // .footer__animation{
  //   animation-delay: 3.5s;
  // }